div.start-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none !important;
  transition: background-color 0.3s;
}

div.start-menu-wrapper:has(div#startMenu.opened) {
  background-color: #0005;
}

div#startMenu {
  pointer-events: initial !important;
  border-radius: 15px;
  border: var(--border);
  outline: var(--secondary-border) !important;
  background-color: var(--shell-bg);
  width: 500px;
  height: 350px;
  backdrop-filter: blur(10px);
  overflow: hidden;
  transition: opacity 0.2s, visibility 0.2s, translate 0.2s, scale 0.2s;
  box-shadow: 0 5px 20px 5px #0008;
}

div#startMenu:not(.opened) {
  opacity: 0;
  visibility: hidden;
  translate: 0 5px;
  scale: 0.97;
}

div#startMenu div.top {
  width: 100%;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  border-bottom: var(--border);
}

div#startMenu div.right button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  font-size: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

div#startMenu div.right button:hover {
  color: var(--accent-light);
  background-color: var(--button-hover-bg);
}

div#startMenu div.right button:active {
  color: var(--accent-dark);
  background-color: var(--button-active-bg);
}

div#startMenu div.right {
  height: 50px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

div#startMenu #appList {
  height: calc(100% - 41px);
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
}

div#startMenu #appList button {
  height: fit-content;
  margin: 0;
  margin-bottom: 12px;
  border: none;
  background-color: transparent;
  vertical-align: top;
  padding: 3px 5px;
  border-radius: 8px;
  transition: all 0.3s, transform 0s, background-color 0s;
  width: 90px !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div#startMenu #appList button img {
  height: 32px;
  margin: 0 auto;
}

div#startMenu #appList button span {
  text-align: center;
  display: block;
  width: 100%;
}

div#startMenu #appList button:hover {
  background-color: var(--start-button-bg);
}

div#startMenu #username {
  font-weight: bold;
  font-size: 16px;
}
