div.window.shell div.taskbar {
  position: fixed;
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 52px;
  background-color: var(--shell-bg);
  backdrop-filter: blur(10px);
  border: var(--border-clr) 1px solid;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  display: flex;
  align-items: center;
  gap: 0;
  z-index: 100000000000000000;
  /* overflow: hidden;
  translate: 0 40px;
  transition: translate 0.3s; */
}

div.window.shell div.taskbar > * {
  transition: opacity 0.3s;
}
/* 
div.window.shell div.taskbar:not(:hover) > * {
  pointer-events: none;
  opacity: 0;
}

div.window.shell div.taskbar:hover {
  translate: 0 0;
} */

div.window.shell div.taskbar #activeApps {
  flex-grow: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  gap: 10px;
  padding-left: 5px;
  margin-left: 5px;
  border-left: var(--button-bg) 1px solid;
  height: 40px;
}

div.window.shell div.taskbar #activeApps::-webkit-scrollbar {
  height: 1px;
}

div.window.shell div.taskbar #activeApps button {
  height: 40px;
  /* margin: 5px 0; */
  padding: 0 12px;
  border: none;
  background-color: transparent;
  white-space: nowrap;
  /* width: 170px; */
  min-width: 50px;
  text-align: left;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 6px;
  /* background-color: var(--button-bg); */
}

div.window.shell div.taskbar #activeApps button:hover {
  background-color: var(--start-button-bg);
}

div.window.shell div.taskbar #activeApps button:active {
  background-color: var(--button-active-bg);
}

div.window.shell div.taskbar #activeApps button.focused {
  background-color: var(--start-button-active-bg);
  /* outline: var(--border) !important; */
}

div.window.shell div.taskbar #activeApps button.closing {
  display: none;
}

div.window.shell div.system-area {
  margin-left: auto;
  padding: 0 20px;
  min-width: fit-content;
  height: 100%;
}

div.window.shell div.system-area div#clock {
  line-height: 50px;
  font-weight: 500;
}

div.window.shell div.taskbar button#startButton {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 40px;
  background-color: var(--button-bg);
  margin-left: 5px;
  border-radius: 6px;
}

div.window.shell div.taskbar button#startButton:hover {
  background-color: var(--start-button-bg);
}

div.window.shell div.taskbar button#startButton:active,
div.window.shell div.taskbar button#startButton.opened {
  background-color: var(--button-active-bg);
}

div.window.shell div.taskbar button#startButton img {
  width: 20px;
  height: 20px;
}
