div.window div.titlebar {
  height: 30px;
  display: flex;
  align-items: center;
  border-bottom: var(--border-color) 1px solid;
  background-color: var(--background-secondary);
}

div.window div.titlebar div.window-title {
  padding: 0 8px;
  display: flex;
  align-items: center;
  gap: 3px;
}

div.window div.titlebar div.controls {
  display: flex;
  align-items: center;
  margin-left: auto;
}
div.window div.titlebar div.controls button {
  font-size: 16px;
  border-left: var(--border-color) 1px solid;
  width: 30px;
  height: 29px;
}

div.window div.titlebar div.controls button:disabled span.lucide {
  opacity: 0.5;
}
