@import url("./cabinet/topbar.css");
@import url("./cabinet/sidebar.css");
@import url("./cabinet/container.css");
@import url("./cabinet/statusbar.css");

div.window.cabinet {
  backdrop-filter: none;
  background-color: var(--bg);
}

div.window.cabinet.focused {
  backdrop-filter: blur(15px);
  background-color: var(--bg-transparent);
}

div.window.cabinet > div.body {
  padding: 0;
  background-color: transparent;
}

div.window.cabinet div.top {
  height: 60px;
}

div.window.cabinet div.panes {
  display: flex;
  height: calc(100% - 25px);
}

div.window.cabinet div.sidebar {
  width: 200px;
  height: 100%;
  border-right: var(--button-bg) 1px solid;
  padding: 10px;
}

div.window.cabinet div.right {
  width: calc(100% - 200px);
  background-color: var(--bg);
}

div.window.cabinet div#container {
  width: 100%;
  height: calc(100% - 60px);
  padding: 10px;
  padding-top: 0;
  overflow-x: auto;
  overflow-y: auto;
}
