div.window.regEditMutatorApp {
  min-height: fit-content !important;
  height: fit-content !important;
}

div.window.regEditMutatorApp div.body {
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  min-height: fit-content !important;
}

div.window.regEditMutatorApp table {
  width: 100%;
}

div.window.regEditMutatorApp td {
  padding-bottom: 5px;
  vertical-align: top;
}

div.window.regEditMutatorApp tr td:first-child {
  padding: 5px 0;
  padding-right: 20px;
}

div.window.regEditMutatorApp input {
  width: 300px;
}

div.window.regEditMutatorApp div.body div.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
  margin-top: 10px;
}

div.window.regEditMutatorApp textarea {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: 200px;
  min-height: 200px;
}
