@import url("./window/titlebar.css");
@import url("./window/elements.css");

div.window {
  position: fixed;
  border: var(--border-color) 1px solid;
  background-color: var(--background);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}

div.window:not(.core) {
  border: var(--border-color) 1px solid;
  outline: var(--background) 1px solid !important;
  color: var(--fg);
  overflow: hidden;
  animation: show 250ms forwards;
  box-shadow: var(--box-shadow);
  scale: 0.95;
  opacity: 0;
  transform-origin: center center !important;
  backdrop-filter: blur(5px);
}

#appRenderer.no-anim div.window:not(.core) {
  opacity: 1 !important;
  scale: 1 !important;
  animation: none !important;
}

#appRenderer.no-anim div.window:not(.core).closing {
  opacity: 0 !important;
}

div.window.closing {
  scale: 1;
  animation: hide 250ms forwards !important;
  pointer-events: none !important;
}

div.window.core.closing {
  scale: 1 !important;
}

div.window:not(.core).maximized {
  transform: none !important;
  translate: 0 0 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: calc(100% - 51px) !important;
  border: none !important;
  resize: none !important;
  max-height: unset !important;
  max-width: unset !important;
  border-radius: 0 !important;
}

div.window:not(.core).minimized {
  pointer-events: none !important;
  animation: minimize 250ms forwards;
  scale: 1;
}

div.window:not(.core) > div.body {
  position: relative;
  height: 0;
  flex-grow: 1;
  padding: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

div.window:not(.core) > div.body div.window-content {
  padding: 15px;
  height: 0;
  flex-grow: 1;
  overflow-y: hidden;
}

div.window div.window-actionbar {
  display: flex;
  align-items: center;
  height: 30px;
  border-top: var(--border-color) 1px solid;
  justify-content: end;
  background-color: var(--background-secondary);
}

div.window div.window-actionbar button {
  padding: 0 10px;
  border-left: var(--border-color) 1px solid;
  height: 29px;
  position: relative;
}

div.window div.window-actionbar button:focus:not(:active)::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--red);
}

div.window:not(.core):not(.maximized).resizable {
  resize: both !important;
}

div.window.core {
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
}

div.window.core div.body {
  height: 100%;
  pointer-events: initial;
}

@keyframes show {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes hide {
  0% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes minimize {
  0% {
    margin-top: 0;
    opacity: 1;
    scale: 1;
  }

  100% {
    margin-top: 20px;
    opacity: 0;
    scale: 0.9;
  }
}
