div.window.cabinet div.top {
  display: flex;
  gap: 5px;
  padding: 10px;
}

div.window.cabinet div.top button.lucide {
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 16px;
  border-radius: 15px;
  background-color: transparent;
}

div.window.cabinet div.top button.lucide:hover {
  background-color: var(--button-bg);
}

div.window.cabinet div.top button.lucide:active {
  background-color: var(--button-active-bg);
}

div.window.cabinet div.navigation,
div.window.cabinet div.address-bar-wrapper {
  display: Flex;
}

div.window.cabinet div.address-bar-wrapper {
  flex-grow: 1;
  gap: 10px;
}

div.window.cabinet div.address-bar-wrapper #addressBar {
  flex-grow: 1;
  height: 30px;
  margin: 0;
}

div.window.cabinet div.address-bar-wrapper #goButton {
  display: flex;
  height: 30px;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  line-height: 16px;
}

div.window.cabinet div.address-bar-wrapper #goButton > span.lucide {
  font-size: 16px;
}
